<form #f="ngForm">
  <div class="form-group">
    <br><br>
    <label for="cep">Cep:</label><br>
    <input type="text" id="cep" name="cep" ngModel #cep="ngModel" (blur)="consultaCep(cep.value,f)">
    <br><br>
    <label for="logradouro">Logradouro</label><br>
    <input type="text" id="logradouro" name="logradouro" ngModel #logradouro="ngModel" disabled>
    <br><br>
    <label for="bairro">Bairro</label><br>
    <input type="text" id="bairro" name="bairro" ngModel #bairro="ngModel" disabled>
    <br><br>
    <label for="cidade">Cidade</label><br>
    <input type="text" id="localidade" name="localidade" ngModel #localidade="ngModel" disabled>
    <br><br>
    <label for="uf">Uf</label><br>
    <input type="text" id="uf" name="uf" ngModel #uf="ngModel" disabled>
    
  </div>
</form>